name: "Setup JFrog CLI OIDC Example"
on: push

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  # This is required for actions/checkout
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    environment: JFrog
    env:
          JF_URL: ${{ vars.JF_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          oidc-provider-name: alireza-nasirian/authentication-server@github
      - name: Upload something to Artifactory (test)
        run: | 
          jf rt u "README.md" "authenticationserver/myproject/${{ github.run_number }}/"
      - name: Run JFrog CLI
        run: |
          # Ping the server
          jf rt ping
